.heading {
    font-size: 1.5rem;
    margin-top: 10px;
}

.article {
    font-size: 1rem;
    color: rgb(192, 192, 192);
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current_page_container {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.current_page_text {
    color: rgb(159, 0, 0);
    font-size: 1.8rem;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.container-left1 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 33%;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 10px;
    border-left: transparent;
    border-right: transparent;
}

.container-mid1 {
    padding-left: 120px;
    width: 33%;
    align-items: center;
}

.container-right1 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 33%;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 10px;
    border-left: transparent;
    border-right: transparent;
}

/* --------------------------------------------------------- */
.section2 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.container-left2 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 33%;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 10px;
    border-left: transparent;
    border-right: transparent;
}

.container-right2 {
    /* margin-left: 20px; */
    width: 33%;
}

/* --------------------------------------------------- */

.section3 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.container-left3 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 33%;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 10px;
    border-left: transparent;
    border-right: transparent;
}

.container-right3 {
    margin-left: 20px;
    width: 50%;
}

/* --------------------------------------------------------- */
.section4 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.container-left4 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 33%;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 10px;
    border-left: transparent;
    border-right: transparent;
}

.container-right4 {
    width: 33%;
}

.download_section {
    margin-bottom: 30px;
}

.download_container a {
    text-decoration: none;
    color: white;
}

.pics {
    height: 250px;
}