body {
  font-family: "Baloo Bhai 2", cursive;
  background: rgb(10, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(10, 0, 36, 1) 0%,
    rgb(67, 0, 130) 100%
  );
}

.header {
  /* position: sticky; */
  border-bottom: 3px solid red;
  border-radius: 15px;
  height: 80px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.422);
}

.left {
  color: white;
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 30px;
  width: 14%;
}

.left img {
  height: 41px;
  margin-left: -10px;
  margin-top: -24px;
}

.left div {
  text-align: center;
  font-size: 14px;
  line-height: 5px;
}

.mid {
  /* border: 2px solid green; */
  color: white;
  display: block;
  width: 50%;
  margin: auto;
  padding-top: 15px;
}

.right {
  /* border: 2px solid yellow; */
  display: flex;
  color: white;
  position: absolute;
  right: 40px;
  top: 23px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.right div {
  margin-left: 10px;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 20px;
  font-size: 15px;
}

.navbar li a.active {
  /* color: rgb(95, 0, 0); */
  color: rgb(176, 0, 0);
}

.navbar li a:hover {
  color: rgb(255, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 300px;
}

.form-group input {
  font-family: "Baloo Bhai 2", cursive;
  text-align: center;
  width: 100%;
  padding: 7px;
  margin: 8px auto;
  border: transparent;
  border-radius: 12px;
  font-size: 15px;
}

.form_group_radio {
  display: inline-block;
  /* align-items: center; */
  padding-top: 20px;
}

.login_div {
  width: 350px;
  border-top: 2px solid rgb(192, 0, 0);
  border-bottom: 2px solid rgb(192, 0, 0);
  border-radius: 10px;
}

.link_btn {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 100px;

  text-align: center;
  text-decoration: none;
  font-family: "Baloo Bhai 2", cursive;
  color: white;
  background-color: transparent;
  padding: 4px 14px;
  border: 2px solid rgb(163, 0, 0);
  border-radius: 10px;
  font-size: auto;
  cursor: pointer;
}

.link_btn:hover {
  color: rgb(255, 0, 0);
  background-color: rgba(255, 255, 255, 0.014);
}

.container {
  color: white;
}

.container button {
  color: white;
  font-family: "Baloo Bhai 2", cursive;
  display: block;
  width: 100px;
  margin: 20px auto;
}

.container h1,
h3 {
  text-align: center;
  color: white;
}

.user {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  text-align: center;
  font-family: "Baloo Bhai 2", cursive;
  color: white;
  background-color: transparent;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 15px;
}

.right ul li {
  list-style: none;
  display: inline-flex;
  justify-content: center;
}
