footer {
    display: flex;
    flex-direction: column;
    border-top: 3px solid red;
    border-radius: 15px;
    background-color:  rgba(0, 0, 0, 0.658);
}

footer h2,
p {
    display: block;
    text-align: center;
    color: aliceblue;
}

footer img {
    height: 30px;
}

.reachus{
    margin-top: 20px;
}

.footer_div1 {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.footer_div1 ul li {
    display: inline-block;
    align-items: center;
    padding-right: 30px;
}

.footer_div2 {
    display: block;
    margin: auto;
    color: aliceblue;
}

.footer_div3 {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: none;
    color: aliceblue;
}

.footer_div3 a {
    color: darkslateblue;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}



.insta {
    text-decoration: none;
    padding: 0 0.7vw;
    margin-right: 2rem;
    font-size: 2rem;
    animation: float 5s ease-in-out infinite;

}

.bi-instagram {
    color: rgb(233,89,80);
}

.insta :hover {
    color: rgba(0, 216, 126, 0.811);
}

.fb {

    text-decoration: none;
    padding: 0 0.7vw;
    margin: 0rem 2rem 0rem 2rem;
    font-size: 2rem;
    animation: float 3s ease-in-out reverse infinite;
}

.bi-facebook {
    color: rgb(233,89,80);

}

.fb :hover {
    color: rgba(0, 216, 126, 0.811);
}

.twitter {

    text-decoration: none;
    padding: 0 0.7vw;
    /* margin-left: 2rem; */

    font-size: 2rem;
    animation: float 4s ease-in-out infinite;
}

.bi-twitter {
    color: rgb(233,89,80);
}

.twitter :hover {
    /* color: rgb(174, 16, 16); */
    color: rgba(0, 216, 126, 0.811);
}